{% extends "common/layout.html" %}

{% block extra_styles %}
<link rel="stylesheet" href="../../static/css/store/storeMain.css">
{% endblock %}

{% block content %}
<div class="store-container">
    <h1 class="store-header">스토어</h1>
    <nav class="category-nav">
        <ul>
            <li><a class="nav-btn {% if currentCategory == 'all' %}selected{% endif %}" href="/store/all">전체</a></li>
            <li><a class="nav-btn {% if currentCategory == '신선식품' %}selected{% endif %}"
                    href="/store/category/신선식품">신선식품</a></li>
            <li><a class="nav-btn {% if currentCategory == '간편식' %}selected{% endif %}"
                    href="/store/category/간편식">간편식</a></li>
            <li><a class="nav-btn {% if currentCategory == '가공식품' %}selected{% endif %}"
                    href="/store/category/가공식품">가공식품</a></li>
            <li><a class="nav-btn {% if currentCategory == '주방용품' %}selected{% endif %}"
                    href="/store/category/주방용품">주방용품</a></li>
            <li><a class="nav-btn {% if currentCategory == '주방가전' %}selected{% endif %}"
                    href="/store/category/주방가전">주방가전</a></li>
            <li><a class="nav-btn {% if currentCategory == '생활용품' %}selected{% endif %}"
                    href="/store/category/생활용품">생활용품</a></li>
        </ul>
    </nav>

    <!-- 상품 리스트 -->
    <div class="product-list">
        {% if tables and tables.length > 0 %}
        {% for product in tables %}
        <a href="/store/product/{{ product.PRODUCT_NO }}" class="product-card">
            <div class="product-content">
                <img src="{{ product.PPODUCT_MAIN_IMG_URL }}" alt="{{ product.PRODUCT_NAME }}">
                <h2 class="product-name">{{ product.PRODUCT_NAME }}</h2>
                <p class="product-price" data-raw-price="{{ product.BASE_PRICE }}">
                    <span id="price-{{ product.product_no }}">{{ product.BASE_PRICE }}</span> 원
                </p>
            </div>
        </a>
        {% endfor %}
        {% else %}
        <p class="no-products">상품이 없습니다.</p>
        {% endif %}
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        // 네비게이션 버튼 활성화 기능
        const links = document.querySelectorAll('.nav-btn');
        links.forEach(link => {
            link.addEventListener('click', function (event) {
                links.forEach(l => l.classList.remove('selected'));
                event.target.classList.add('selected');
            });
        });

        // 가격 변환 기능
        document.querySelectorAll(".product-price").forEach(priceElement => {
            const rawPrice = priceElement.dataset.rawPrice;  // data-raw-price 속성에서 가격 가져오기
            const formattedPrice = Number(rawPrice).toLocaleString(); // 쉼표 추가 변환
            priceElement.textContent = `${formattedPrice} 원`;
        });
    });
</script>

{% endblock %}


</html>