<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="../../static/css/reset.css">
        <link rel="stylesheet" href="../../static/css/layout.css">
        <link rel="stylesheet" href="/static/css/cooking/registerClass.css">
    </head>
    <body>
        <header>
            <div class="header-top">
                <h1>헤더 영역입니다.</h1>
            </div>
            <div class="header-bottom">
                <nav class="nav-menu">
                    <a href="#">레시피</a>
                    <a href="#">스토어</a>
                    <a href="#">쿠킹클래스</a>
                </nav>
            </div>
        </header>
        <main>
            <div class="main">
                <div class="sidebar">
                    <ul>
                        <li><a href="#">클래스 생성</a></li>
                        <li><a href="#">등록 완료 클래스</a></li>
                        <li><a href="#">단체 클래스 등록</a></li>
                    </ul>
                </div>
                <div class="content">
                    <h2>클래스 생성</h2>
                    <div class="create-card">
                        <p>클래스 생성하기</p>
                    </div>
                </div>
            </div>
        </main>
        <footer>
            <p>cooksite@cooksite.com<br>Copyright ⓒ 2025 CookSite. All Rights Reserved.</p>
        </footer>
    </body>
</html>