<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/css/cooking/searchClass.css">
    <script defer src="../../static/js/cooking/searchClass.js"></script>
    
</head>
<body>
    <div class="main">
        <div class="main-top">

            <div class="search-class">
                <input type="text" placeholder="클래스 입력" class="class-input" value=""> <br>
            </div>

            <div class="select-class">
                <button>오프라인 클래스</button>
                <button>온라인 클래스</button>
            </div>

            <div class="select-option">
                <!-- 첫번째 옵션 -->
                <div class="option1">
                    <div class="dropdown-header">
                        <span class="region">지역</span>
                        <span class="arrow"></span>
                    </div>
                    <div class="dropdown-content"></div>
                </div>
                <!-- 두번째 옵션 -->
                <div class="option2">
                    <span class="firstType" value="oneDay">원데이</span><span class="secondType" value="regular">정기</span>
                </div>
                <!-- 세번째 옵션 -->
                <div class="option3">
                    <div class="dropdown-header2">
                        <span class="category">전체</span>
                        <span class="arrow2"></span>
                    </div>
                    <div class="dropdown-content2"></div>
                </div>
                <!-- 네번째 옵션 -->
                <div class="option4">
                    <div class="dropdown-header3">
                        <span class="visitor">선택안함</span>
                        <span class="arrow3"></span>
                    </div>
                    <div class="dropdown-content3"></div>
                </div>
                <!-- 다섯번째 옵션 -->
                <div class="option5">
                    <button>평일</button><button>토요일</button><button>일요일</button>
                </div>
                <!-- 여섯번째 옵션 -->
                <div class="option6">
                    00:00 <span class="time-rail"></span> 24:00
                </div>
                <!-- 일곱번째 옵션 -->
                <div class="option7">
                    <button>입문</button><button>중급</button><button>고급</button>
                </div>
                <!-- 여덟번째 옵션 -->
                <div class="option8">
                    0원 <span class="price"></span>1,000,000원
                </div>
            </div>
        </div>
        
        
    </div>
</body>
</html>