<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/css/cooking/searchClass.css">
    <script defer src="../../static/js/cooking/searchClass.js"></script>
    
</head>
<body>
    <div class="main">
        <div class="main-top">
            <div class="search-class">
                <input type="text" placeholder="클래스 입력" class="class-input" value=""> <br>
            </div>
            <!--  클래스 선택  -->
            <div class="select-class">
                <span class="offline">오프라인 클래스</span>
                <span class="online">온라인 클래스</span>
            </div>
            <!-- 옵션 영역 -->
            <div class="select-option">
                <!-- 첫번째 옵션 -->
                <div class="option1">
                    <div class="dropdown-header">
                        <span class="region">지역</span>
                        <span class="arrow"></span>
                    </div>
                    <div class="dropdown-content"></div>
                </div>
                <!-- 두번째 옵션 -->
                <div class="option2">
                    <span class="oneDay" value="oneDay">원데이</span><span class="regular" value="regular">정기</span>
                </div>
                <!-- 세번째 옵션 -->
                <div class="option3">
                    <div class="dropdown-header2">
                        <span class="category">전체</span>
                        <span class="arrow2"></span>
                    </div>
                    <div class="dropdown-content2"></div>
                </div>
                <!-- 네번째 옵션 -->
                <div class="option4">
                    <div class="dropdown-header3">
                        <span class="visitor">선택안함</span>
                        <span class="arrow3"></span>
                    </div>
                    <div class="dropdown-content3"></div>
                </div>
                <!-- 다섯번째 옵션 -->
                <div class="option5">
                    <span class="weekdays">평일</span>
                    <span class="saturday">토요일</span>
                    <span class="sunday">일요일</span>
                </div>
                <!-- 여섯번째 옵션 -->
                <div class="option6">
                    <div class="slider-container">
                        <div class="slider-track"></div>
                        <div class="slider-range"></div>
                        <div class="thumb" id="thumbMin"></div>
                        <div class="thumb" id="thumbMax"></div>
                    </div>
                    <div class="time-label">
                        <span id="timeMin">00:00</span> - <span id="timeMax">23:59</span>
                    </div>
                </div>
                <!-- 일곱번째 옵션 -->
                <div class="option7">
                    <span class="basic">입문</span>
                    <span class="middle">중급</span>
                    <span class="hard">고급</span>
                </div>
                <!-- 여덟번째 옵션 -->
                <div class="option8">
                    <div class="slider-container">
                        <div class="slider-track"></div>
                        <div class="price-slider-range"></div>
                        <div class="thumb" id="priceThumbMin"></div>
                        <div class="thumb" id="priceThumbMax"></div>
                    </div>
                    <div class="time-label">
                        <span id="priceMin" class="price-label">0</span>
                        <span id="priceMax" class="price-label">1,000,000</span>
                    </div>
                </div>
            </div>
            <div class="main-top-recommandKeyword">
                <div class="Keyword-div">
                    <span>추천 검색어</span>
                    <div class="recommandKeyword-keywordType">
                        <a href="#"><p>단체</p></a>
                        <a href="#"><p>베이킹</p></a>
                        <a href="#"><p>베이킹</p></a>
                        <a href="#"><p>베이킹</p></a>
                        <a href="#"><p>베이킹</p></a>
                        <a href="#"><p>베이킹</p></a>
                        <a href="#"><p>베이킹</p></a>
                    </div>
                    <div class="ghost">
                        <button class="openMap">지도 표시하기</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- 메인 바디 -->
        <div class="main-mid">
            <div class="main-mid-cookinglist">
                <div class="cookinglist-head">
                    <span class="cookinglist-searchresult">1</span>
                    <button><span>최신순</span></button>
                </div>
                <div class="template-ghost">
        <!-- 게시글 템플릿 -->
                <template id="card-template">
                    <a href="">
                        <div class="cookinglist-content">
                            <div class="list-head">
                                <img src="" alt="클래스 이미지" class="class-img">
                            </div>
                            <div class="list-body">
                                <div class="class-content">
                                    <p class="class-Tag"></p>
                                    <p class="class-Name"></p>
                                </div>
                            </div>
                        </div>
                    </a>    
                </template>
                <div id="card-container" class="card-container"></div>
                <button id="load-more" class="load-more">더보기</button>
                </div>
            </div>
        </div>
        
    </div>



</body>
</html>