#findAccount-main{
	width: 800px;
}
#findAccount-main li{
	list-style:inside;
	color: #6d6d6d;
	margin-bottom: 5px;
}
#findAccount-main > h1{
	text-align: center;
	margin: 50px 0;
	
}
#nameEmail-container-border{
	width: 800px;
	border: 1px solid #d0d0d0;
	border-radius: 5px;
	margin-top: 30px;
	padding-top: 50px;
	padding-bottom: 20px;

}
#nameEmail-container{
	width: 420px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}

#memberName, #email{
	outline: none;
	height: 40px;
	border: 1px solid #d0d0d0;
	border-radius: 5px;
	transition: all 200ms;
	padding-left: 10px;
	margin-top: 10px;
	margin-bottom: 30px;
}
#memberName:hover, #email:hover,#memberName:focus, #email:focus{
	border-color: black;
}
#find-btn-div{
	display: flex;
	justify-content: center;
	margin-top: 50px;
	margin-bottom: 80px;
}
#find-btn{
	width: 120px;
	height:40px;
	color:white;
	background-color: #333;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}