*{
	box-sizing: border-box;
	font-family: 'Pretended-Regular';
}

input{
	padding-left: 10px;
	transition: all 300ms;
	background-color: #f1f1f2;
}

#basic-info input:hover{
	border: 1px solid black;
}

#detail-container{
	width: 1100px;
	margin: 30px 0;
}

#page-subject{
	/* font-size: 22px; */
	text-align: center;
	margin: 50px 0;
}

#basic-info, #add-info{
	width: 550px;
	border-radius: 10px;
	border: 2px solid #e9e9e9;
	color: #63666e;
	font-size: 15px;
	margin: 0 auto;
	margin-top: 10px;
	overflow: hidden;
}

.basic-info-header{
	padding: 15px 15px;
	background-color: #f1f1f1;
	border-radius: 10px 10px 0 0;
	font-size: 16px;
	font-weight: bold;
	color: black;
	display: flex;
	justify-content: space-between;
}

.add-info-header{
	padding: 15px 15px;
	background-color: #f1f1f1;
	border-radius: 10px 10px 0 0;
	font-size: 16px;
	font-weight: bold;
	color: black;
}

.essential{
	font-size: 13px;
	font-weight: normal;
}
.essential-mark{
	color: red;
}

#basic-info input{
	border: 1px solid #e9e9e9;
	width: 360px;
	height: 40px;
	border-radius: 5px;
	font-size: 14px;
}

.small-container{
	height: 80px;
	display: flex;
	border: 1px solid #e9e9e9;
}

.container-head{
	width: 150px;
	padding-top: 10px;
	padding-left: 12px;
	margin-right: 5px;
}

.name-container, .phone-container, .gender-container{
	height: 50px;
	padding-top: 4px;
}

.email-container{
	height: 100px;
	padding-top: 4px;
}


.address-container{
	height: 160px;
	padding-top: 4px;
}

.address-container input{
	margin: 3px 0;
}

.address-container-inputBox{
	width: 330px;
}

#basic-info .address-container-inputBox input:first-child{
	width: 100px;
}

#address-search-btn{
	display: inline-block;
	border-radius: 5px;
	border: 1px solid #cfcfcf;
	background-color: #f0f0f0;
	color: #1b1b1b;
	padding: 0 8px;
	height: 40px;
	line-height: 40px;
	cursor: pointer;
	margin-left: 10px;
	font-size: 14px;
}


.date-input-box{
	height: 120px;
}


#year{
	width: 70px;
	height: 40px;
	border-radius: 5px;
	border: 1px solid #e9e9e9;
}
#month, #day{
	width: 60px;
	height: 40px;
	border-radius: 5px;
	border: 1px solid #e9e9e9;
}
#year:hover, #month:hover, #day:hover{
	border: 1px solid black;
}

input[type="radio"] {
	appearance: none;
	width: 18px;              /* 너비 */
	height: 18px;             /* 높이 */
	border: 1px solid #000;   /* 테두리 */
	border-radius: 50%;       /* 둥근 모양 */
	outline: none;            /* 클릭 시 아웃라인 제거 */
	cursor: pointer;          /* 클릭 커서 */
}

input[type="radio"]:checked {
	background-color: #000;   /* 선택된 상태 */
	border: 4px solid #f1f1f2;
	box-shadow: 0 0 0 1px #000;
}

label[for="male-radio"], label[for="female-radio"]{
	padding-left: 4px;
	padding-right: 6px;
	cursor: pointer;
}

.select-box{
	display: flex;
	align-items: center;
	margin: 5px 0;
	margin-bottom: 10px;
}
.select-box input {
	margin: 0 10px;
}

label[for="lunar-radio"], label[for="solar-radio"]{
	padding-right: 6px;
	padding-left: 4px;
	cursor: pointer;
}

.gender-container{
	align-items: center;
	padding-top: 0px;
}

.year-container{
	height: 85px;
}

.gender-container > .container-head{
	padding-top: 0px;
}

.year-container > .container-head{
	padding-top: 5px;
}

.gender-container input{
	margin: 0 10px;
}

#cancel-update-btn{
	width: 200px;
	height: 48px;
	border: none;
	border-radius: 5px;
	color: rgb(0, 0, 0);
	background-color: #f1f1f2;
	border: 1px solid rgb(167, 167, 167);
	cursor: pointer;
	font-size: 16px;
	font-weight: 500;
	margin: 0 10px;
	margin-top: 30px;
	padding: 0;
}
#cancel-update-btn:hover{
	border-color: black;
}
#update-info-btn{
	width: 200px;
	height: 48px;
	border: none;
	border-radius: 5px;
	color: white;
	background-color: #800020;
	cursor: pointer;
	font-size: 16px;
	font-weight: 500;
	margin: 0 10px;
	margin-top: 30px;
	padding: 0;
}

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button{
	appearance: none;
}


.phone-flexBox{
	display: flex;
	width: 330px;
	align-items: center;
}

#basic-info .phone-flexBox input{
	width: 80px;
	font-size: 15px;
	color: #353535;
}

.phone-flexBox div{
	font-size: 22px;
	font-weight: 1000;
	margin: 0 10px;
}

#basic-info #first-phone, #basic-info #second-phone{
	width: 95px;
}


#check-duplicate-btn, #send-code-btn, #email-verify-btn{
	display: inline-block;
	border-radius: 5px;
	/* background-color: rgb(144, 144, 144); */
	background-color: #a33e57;
	opacity: 0.5;
	padding: 10px 5px;
	font-size: 14px;
	font-weight: 1000;
	color: white;
	pointer-events: none;
	user-select: none;
	/* margin-left: 20px; */
}


#check-duplicate-btn:not(.disabled), #email-verify-btn:not(.disabled), #send-code-btn:not(.disabled) {
	/* background-color: rgb(120, 120, 120); */
	background-color: 	#a33e57;
	opacity: 1;
	cursor: pointer; /* 활성화 상태에서 클릭 가능 */
	pointer-events: auto; /* 클릭 이벤트 허용 */
}

#check-duplicate-btn:hover, #send-code-btn:hover, #email-verify-btn:hover{
	/* background-color: rgb(31, 31, 31); */
	background-color: #800020;
	color: #dcbe5d;
	opacity: 1;
}

#basic-info #email{
	width: 130px;
	margin-right: 5px;
}

#email-domain{
	background-color: #f1f1f2;
	color: #63666e;
	border: 1px solid #e9e9e9;
	border-radius: 5px;
	outline: none;
	height: 40px;
	padding: 0 10px;
}

select option{
	border-color: #e9e9e9;
}


#email-verify-btn{
	padding: 10px 10px;
}

#basic-info #email-code{
	margin-top: 8px;
	margin-left: 140px;
	width: 137px;
}

#timer{
	color: tomato;
}

#basic-info #default-address, #basic-info #zonecode{
	cursor: not-allowed;
}


.main-info-container{
	width: 100%;
	height: 245px;
	border: 1px solid #e9e9e9;
	display: flex;
}

.profile-container{
	width: 35%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 1px solid #e9e9e9;
	border-left: none;
	text-align: center;
}

.idPw-container{
	width: 65%;
	height: 100%;
}

.idPw-container .id-container{
	width: 100%;
	height: 50%;
	padding-top: 10px;
	display: flex;
	border: 1px solid #e9e9e9;
	border-right: none;
}

.idPw-container .pw-container{
	width: 100%;
	height: 50%;
	padding-top: 10px;
	display: flex;
	border: 1px solid #e9e9e9;
	border-right: none;
}

#memberId{
	margin-top: 10px;
}
#reset-pw-btn{
	background-color: #f1f1f2;
	color: #800020;
	width: 100px;
	height: 30px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	margin-top: 5px;
	font-weight: 1000;
}
#reset-pw-btn:hover{
	background-color: #e1e1e1;
}

#basic-info .img-btn{
	width: 80%;
	height: 25px;
	font-size: 12px;
	border-radius: 5px;
	border: none;
	font-weight: 1000;
	cursor: pointer;

}

#basic-info .upload-btn{
	background-color: #800020;
	color: white;
	margin-bottom: 5px;
	padding-top: 4px;
}
.img-remove-btn{
	color: #800020;
	background-color: #f1f1f2;
}
.img-remove-btn:hover{
	background-color: #e1e1e1;
}

#profile-img{
	width: 80%;
	height: 60%;
	background-color: #cfcfcf;
	border-radius: 50%;
	margin-bottom: 10px;
	overflow: hidden;
}



/* 변경, 수정 버튼 */
.edit-btn{
	border: none;
	/* background-color: white; */
	color: #800020;
	text-decoration: underline;
	cursor: pointer;
	padding: 5px;
	width: 40px;
	height: 25px;
	margin-left: 10px;
	font-size: 14px;
}
.update-btn{
	color: white;
	border: none;
	border-radius: 3px;
	padding: 4px;
	cursor: pointer;
	background-color: #800020;
	width: 40px;
	height: 25px;
	margin-left: 10px;
	font-size: 14px;
}

.update-btn.hide{
	display: none;
}

.edit-btn.hide{
	display:none;
}

#basic-info input:read-only{
	cursor: auto;
	outline: none;
	border: none;
}


#basic-info #memberName{
	width: 330px;
}

#basic-info #default-address, #basic-info #detail-address{
	width: 330px;
}

.edit-btn.edit-phone, .update-btn.update-phone{
	margin-left: 10px;
}

#imagePreview {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

#update-info-btn-div{
	width: 550px; 
	margin: 0 auto;
	display: flex;
	justify-content: center;
}

#delete-member-btn-div{
	width: 550px;
	margin: 0 auto;
}
#delete-member-btn{
	width: 80px;
	height: 36px;
	border: none;
	border-radius: 5px;
	color: rgb(0, 0, 0);
	background-color: #f1f1f2;
	border: 1px solid rgb(167, 167, 167);
	cursor: pointer;
	font-size: 16px;
	font-weight: 500;
	margin: 0 10px;
	margin-top: 30px;
	padding: 0;
}
#delete-member-btn:hover{
	border-color: black;
}