{% extends "common/layout.html" %}

{% block extra_styles %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.js"></script>
<link rel="stylesheet" href="/static/css/member/confirmPassword.css">
{% endblock %}


{% block content %}
<div id="confirmPassword-main">
	<h2>본인 확인</h2>
	<ol>
		<li>본인확인이 필요합니다.</li>
		<li>본인확인 후 비밀번호 재설정 페이지로 이동합니다.</li>
	</ol>
	<form id="confirm-form" action="/member/api/confirm-password" method="post">
		<div id="pw-container-border">
			<div id="pw-container">
				<label for="memberPw">비밀번호 확인</label>
				<input type="password" id="memberPw" name="memberPw" autocomplete="off">
			</div>
		</div>
		<input type="hidden" name="from" value="{{from}}">
		<div id="confirm-btn-div">
			<button type="button" id="confirm-btn" onclick="confirmPassword();">확인</button>
		</div>
	</form>
</div>
{% endblock %}

{% block extra_scripts %}
<script>
	const elMemberPw = document.querySelector('#memberPw');
	const confirmForm = document.querySelector('#confirm-form');

	const confirmPasswordResult = "{{confirmPasswordResult}}";


	if(confirmPasswordResult !== ""){
		Swal.fire({
			icon: 'warning',
			title: '비밀번호 확인',
			html: `<p>비밀번호를 다시 입력해 주세요.</p>
							<p> 본인 확인을 위해 정확한 비밀번호를 입력해야 합니다.</p>`,
		}).then((result)=>{
			if(result.isConfirmed){
				// 비밀번호 입력창 포커스
				elMemberPw.focus();
			}
		});
	}else{
		elMemberPw.focus();
	}

	elMemberPw.addEventListener("keypress", function(event) {
        if (event.key === "Enter") {
            event.preventDefault();
            confirmPassword();
        }
    });

	function confirmPassword(){
		if(elMemberPw.value.trim() === ''){
			alert('비밀번호를 입력해주세요');
			elMemberPw.focus();
			return;
		}else{

			confirmForm.submit();
		}

	}
</script>
{% endblock %}