{% extends "common/layout.html" %}

{% block extra_styles %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.js"></script>
{% endblock %}


{% block content %}
<h2>비밀번호 확인</h2>
<div>본인 확인</div>
<form action="/member/api/confirm-password" method="post">
	<input type="password" id="memberPw" name="memberPw" autocomplete="off">
	<input type="hidden" name="from" value="{{from}}">
	<button>확인</button>
</form>
{% endblock %}

{% block extra_scripts %}
<script>
	const confirmPasswordResult = "{{confirmPasswordResult}}";
	if(confirmPasswordResult !== ""){
		Swal.fire({
			icon: 'warning',
			title: 'Alert가 실행되었습니다.',
			text: '비밀번호를 다시 입력해주세요',
		});
	}
</script>
{% endblock %}