{% extends "common/layout.html" %}

{% block extra_styles %}
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.css">
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.js"></script>
	<link rel="stylesheet" href="/static/css/member/findPassword.css">
{% endblock %}


{% block content %}
<div id="findAccount-main">
	<h1>비밀번호 찾기</h1>
	<ol>
		<li>가입하신 아이디와 이메일로 비밀번호 찾기가 가능합니다.</li>
		<li>가입 이력이 존재할 경우 이메일로 비밀번호 재설정 링크가 전송됩니다.</li>
	</ol>
	<form id="find-password" action="/find-password" method="post">
		<div id="idEmail-container-border">
			<div id="idEmail-container">
				<label for="id">아이디</label>
				<input type="text" id="memberId" name="memberId" autocomplete="off" required>

				<label for="email">이메일</label>
				<div id="email-container">
					<input id="email" type="text" class="required" name="email" autocomplete="off" lang="en">@
					<select name="emailDomain" id="email-domain">
						<option value="@naver.com">naver.com</option>
					</select>
				</div>
			</div>
		</div>

		<div id="find-btn-div">
			<button id="find-btn" type="button" onclick="findMemberPw();">확인</button>
		</div>

	</form>
</div>

<script>
	const elMemberId = document.querySelector('#memberId');
	const elEmail = document.querySelector('#email');
	const elEmailDomain = document.querySelector('#email-domain');
	const findPwForm = document.querySelector('#find-password');

	// 페이지 로드 시 아이디 입력창 포커스
	elMemberId.focus();

	// 입력창에서 enter 가능
	document.querySelectorAll('#memberId, #email').forEach(input => {
    input.addEventListener("keypress", function(event) {
        if (event.key === "Enter") {
            event.preventDefault();
            findMemberPw();
        }
    });
	});


	async function findMemberPw(){
		if(elMemberId.value === ""){
			alert("아이디를 입력해주세요");
			elMemberId.focus();
			return;
		}
		
		// 이메일 필수입력 체크
		if(elEmail.value === ""){
			alert("이메일을 입력해주세요");
			elEmail.focus();
			return;
		}

		// 1. 아이디, 이메일 계정 존재하는 확인
		const response = await fetch('/member/api/find-pw', {
			method: 'POST',
			headers: {
				'Content-Type': 'application/json',
			},
			body: JSON.stringify({ memberId:elMemberId.value, email:elEmail.value + elEmailDomain.value})
		});

		const result = await response.json();

		if (result.success) {
			Swal.fire({
					icon: 'success',
					title: '비밀번호 재설정 이메일 발송 완료',
					text: '입력하신 이메일로 비밀번호 재설정 링크를 보냈습니다. 이메일을 확인해주세요.',
					confirmButtonColor: '#800020', // confrim 버튼 색깔 지정
			});
		} else {
			Swal.fire({
					icon: 'warning',
					title: '계정 찾을 수 없음',
					text: '입력하신 정보와 해당하는 계정을 찾을 수 없습니다. 다시 확인해주세요.',
					confirmButtonColor: '#800020', // confrim 버튼 색깔 지정
			});
		}
	}


</script>
{% endblock %}

{% block extra_scripts %}
<script src="/static/js/member/findPassword.js"></script>
{% endblock %}