{% extends "common/layout.html" %}

{% block extra_styles %}
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.css">
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.js"></script>
	<link rel="stylesheet" href="/static/css/member/login.css">
{% endblock %}


{% block content %}
<div id="login-main">
	<h1>안녕하세요 :) <br>식탁의비밀입니다.</h1>
	<h3>회원가입을 하시면 다양하고 특별한 혜택이 준비되어 있습니다.</h3>
	<!-- login 실행 form -->
	<form id="signin-form" action="/member/login" method="post">
		<div id="login-container">
			<div id="idPw-container">
				<input id="memberId" type="text" name="memberId" placeholder="아이디" required autocomplete="off">
				<input id="memberPw" type="password" name="memberPw" placeholder="패스워드" required autocomplete="off">
			</div>
			<button id="signin-btn" type="button" onclick="signin();">로그인</button>
		</div>
	</form>
	<div id="find-container">
		<a href="/member/findAccount">아이디 찾기</a>
		<a href="/member/findPassword">비밀번호 찾기</a>
	</div>
	<a href="/member/signUp" style="text-decoration: none; color: black;">
		<div id="goSignup-container">
			<div>아직 회원이 아니세요?</div>
			<div>회원가입 <i class="fa-solid fa-chevron-right"></i></div>
		</div>
	</a>
	<div id="snsLogin-line">
		<span>더욱 간편한 로그인 / 회원가입</span>
	</div>
	<div id="social-login-container">
		<img id="naver-logo" src="/static/img/member/naver.ico" alt="" onclick="openNaverLogin();">
	</div>
	<input type="hidden" id="parentEl">
</div>
{% endblock %}

{% block extra_scripts %}
<script>
	// nunjucks 이용 flash데이터
let deleteResult = "{{deleteResult}}";
let signupResult = "{{signupResult}}";
let loggedInMessage = "{{loggedInMessage}}";
let loginResult = "{{loginResult}}";
// 소셜로그인 api 주소
const api_url = "{{api_url}}";
</script>
<script src="/static/js/member/login.js"></script>
{% endblock %}

