{% extends "common/layout.html" %}

{% block extra_styles %}
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.css">
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.js"></script>
	<link rel="stylesheet" href="/static/css/member/memberDetail.css">
{% endblock %}


{% block content %}
<div id="detail-container">
	<h1 id="page-subject">회원 정보</h1>	
	<form id="update-form">
			<div id="basic-info">
				<div class="basic-info-header">
					<div>기본정보</div>
					<div class="essential"><span class="essential-mark">*</span> 필수</div>
				</div>
	
				<div class="main-info-container">
					<div class="profile-container">
						<div id="profile-img">
							<img src="{{filePath}}" id="imagePreview" alt="미리보기">
						</div> 
						<label id="image-upload-btn" for="file-upload" class="img-btn upload-btn">이미지 업로드</label>
						<input type="file" id="file-upload" name="profileImage" accept="image/*"  onchange="addUploadData(this);" style="display: none;">
						<button class="img-btn img-remove-btn" type="button" onclick="removeProfile();">이미지 제거</button>
					</div>
					<div class="idPw-container">
						<div class="id-container">
							<div class="container-head">아이디<span class="essential-mark"> *</span></div>
							<div type="text" id="memberId">
								{% if provider === 'naver' %}
									naver 소셜회원
								{% else %}
									{{member_id}}
								{% endif %}
							</div>
						</div>
						<div class="pw-container">
							<div class="container-head">비밀번호<span class="essential-mark"> *</span></div>
							{% if provider === 'naver' %}
							{% else %}
								<button type="button" id="reset-pw-btn" onclick="openConfirmPwPage();">
									비밀번호 변경
								</button>
							{% endif %}
						</div>
					</div>
				</div>
				
	
				<div class="small-container name-container">
					<div class="container-head">이름<span class="essential-mark"> *</span></div>
					<div>
						<input id="memberName" type="text" class="required" name="memberName" value="{{member_name}}" autocomplete="off" oninput="addNewData(this)" readonly>
					</div>
					
					<button class="edit-btn edit-name" type="button" onclick="changeReadOnly('memberName', 'remove'); changeBtn(this, 'edit-name', 'update-name');">변경</button>
					<button class="update-btn update-name hide" type="button" onclick="changeReadOnly('memberName', 'add'); changeBtn(this, 'edit-name', 'update-name');">수정</button>
				</div>
	
				<div class="small-container address-container">
					<div class="container-head">주소</div>
					<div class="address-container-inputBox">
						<input id="zonecode" type="text" placeholder="우편번호" name="zonecode" value="{{zone_code}}" readonly><button type="button" id="address-search-btn" onclick="searchAddress(); addNewData(this)" disabled>주소검색</button><br>
						<input id="default-address" type="text" placeholder="기본주소" name="defaultAddress" value="{{default_address}}" readonly><br>
						<input id="detail-address" type="text" placeholder="나머지 주소(선택 입력 가능)" name="detailAddress" value="{{detail_address}}" oninput="addNewData(this)" readonly>
					</div>
					<button class="edit-btn edit-address" type="button" onclick="changeReadOnly('detail-address', 'remove'); changeBtn(this, 'edit-address', 'update-address'); rotateSearchAddressBtn(false)">변경</button>
					<button class="update-btn update-address hide" type="button" onclick="changeReadOnly('detail-address', 'add'); changeBtn(this, 'edit-address', 'update-address'); rotateSearchAddressBtn(true)">수정</button>
				</div>
	
				<div class="small-container phone-container">
					<div class="container-head">휴대전화<span class="essential-mark"> *</span></div>
					<div class="phone-flexBox">
						<input type="text" class="required" name="phone" value="010" readonly>
						<div> - </div>
						<input id="first-phone" type="number" class="required" name="phone" min="1000" max="9999" autocomplete="off" oninput="addNewData(this)" readonly>
						<div> - </div>
						<input id="second-phone" type="number" class="required" name="phone" min="1000" max="9999" autocomplete="off" oninput="addNewData(this)" readonly>
					</div>
	
					<button class="edit-btn edit-phone" type="button" onclick="changeReadOnly('edit-phone', 'remove'); changeBtn(this, 'edit-phone', 'update-phone');">변경</button>
					<button class="update-btn update-phone hide" type="button" onclick="changeReadOnly('update-phone', 'add'); changeBtn(this, 'edit-phone', 'update-phone');">수정</button>
	
				</div>
				<div class="small-container email-container">
					
					<div class="container-head">이메일<span class="essential-mark"> *</span></div>
					<div>
						<input id="email" type="text" class="required" name="email" autocomplete="off" lang="en" onkeyup="checkEmailRequired()" oninput="addNewData(this); setEmailVerified();" readonly>@
						<select name="emailDomain" id="email-domain" onchange="addNewData(this); setEmailVerified();"  disabled>
							<option value="@naver.com">naver.com</option>
						</select>
						<span id="send-code-btn" class="disabled">인증요청</span>
						<div style="position: relative;">
							<div id="timer"></div>
							<input type="text" id="email-code" name="emailCode" disabled="false">
							<span id="email-verify-btn" class="disabled" data-emailVerified="true">인증</span>
						</div>
					</div>

					<div id="tooltip" class="tooltip-box">소셜 회원은 이메일을 수정할 수 없습니다. <br>다른 이메일을 사용하려면 새 계정을 생성해주세요.</div>
					{% if provider === 'naver' %}
					{% else %}
						<button class="edit-btn edit-email" type="button" onclick="changeReadOnly('email', 'remove'); changeBtn(this, 'edit-email', 'update-email'); changeStatusSelect(false);">변경</button>
						<button class="update-btn update-email hide" type="button" onclick="changeReadOnly('email', 'add'); changeBtn(this, 'edit-email', 'update-email'); changeStatusSelect(true);">수정</button> 
					{% endif %}
				</div>
			</div>

			<div id="add-info">
				<div class="add-info-header">
					<div>추가정보</div>
				</div>
				<div class="small-container gender-container">
					<div class="container-head">성별</div>
					<input id="male-radio" type="radio" name="gender" value="male" oninput="addNewData(this)">
					<label for="male-radio">
						남자
					</label>
					<input id="female-radio" type="radio" name="gender" value="female" oninput="addNewData(this)">
					<label for="female-radio">
						여자
					</label>
				</div>
				<div class="small-container year-container">
					<div class="container-head">생년월일</div>
					<div>
						<div class="select-box">
							<input id="solar-radio" type="radio" name="calenderType" value="solar" oninput="addNewData(this)">
							<label for="solar-radio">
								양력
							</label>
							<input id="lunar-radio" type="radio" name="calenderType" value="lunar" oninput="addNewData(this)">
							<label for="lunar-radio">
								음력
							</label>
						</div>
						<div class="date-input-box">
							<input name="dateOfBirth" type="number" id="year" min="1900" autocomplete="off" oninput="addNewData(this)">년
							<input name="dateOfBirth" type="number" id="month" min="1" max="12" autocomplete="off" oninput="addNewData(this)">월
							<input name="dateOfBirth" type="number" id="day" min="1" max="31" autocomplete="off" oninput="addNewData(this)">일
						</div>
					</div>
	
				</div>
			</div>
			<div id="update-info-btn-div">
				<button id="cancel-update-btn" type="button" onclick="location.href='/member/detail'">취소</button>
				<button id="update-info-btn" type="button" onclick="confirmRequired();">수정하기</button>
			</div>
		</form>
</div>

	<div id="delete-member-btn-border">
		<h2>탈퇴안내</h2>
		<ol>
			<li>1. 탈퇴한 아이디는 다시 사용할 수 있습니다.</li>
			<li>2. 탈퇴시 입력하신 개인정보도 모두 삭제 처리됩니다.</li>
		</ol>
		<div id="delete-member-btn-div">
			<button id="delete-member-btn" type="button" onclick="deleteAccount();">회원탈퇴</button>
		</div>
	</div>



<script>
	

</script>
{% endblock %}

{% block extra_scripts %}
<script>
	// 소셜 로그인 제공자
	const provider = "{{provider}}";
	// 회원정보
	const memberId = "{{member_id}}";
	const memberName = "{{member_name}}";
	const zoneCode = "{{zone_code}}";
	const defaultAddress = "{{default_address}}";
	const detailAddress = "{{detail_address}}";
	const phone = "{{phone}}";
	const fullEmail = "{{email}}";
	const gender = "{{gender}}";
	const calendarType = "{{calendar_type}}";
	const dateOfBirth = new Date("{{date_of_birth}}").toLocaleDateString("ko-KR");
</script>
<!-- daum kakao  -->
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script src="/static/js/member/daumMap.js"></script>
<script src="/static/js/member/timer.js"></script>
<script src="/static/js/member/verifyEmail.js"></script>
<script src="/static/js/member/memberDetail.js"></script>
{% endblock %}