{% extends "common/layout.html" %}

{% block extra_styles %}
	<link rel="stylesheet" href="/static/css/member/register.css">
	<!-- daum kakao  -->
	<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

	<!-- sweetalert2 -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.css">
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.js"></script>
{% endblock %}

{% block content %}
<div id="register-container">

	<h1 id="page-subject">회원가입</h1>
		<form id="signUp-form" action="/member/signUp" method="post">
			<div id="basic-info">
				<div class="basic-info-header">
					<div>기본정보</div>
					<div class="essential"><span class="essential-mark">*</span> 필수</div>
				</div>
				<div class="small-container id-container">
					<div class="container-head">아이디<span class="essential-mark"> *</span></div>
					<div>
						<input type="text" class="required" id="memberId" name="memberId" autocomplete="off" onkeyup="checkValid('id');">
						<span id="check-duplicate-btn" class="disabled" data-valid="" onclick="checkDuplicate();">중복확인</span>
						<div class="notice id-notice success-message hide">사용할 수 있는 아이디입니다</div>
						<div class="notice id-notice failure-message-data hide">아이디를 입력해주세요</div>
						<div class="notice id-notice failure-message-length hide">아이디는 6~12글자이어야 합니다</div>
						<div class="notice id-notice failure-message-type hide">영어, 숫자를 포함하며 영어로 시작해야 합니다 (특수문자 X)</div>
						<div class="notice id-notice faliure-message-duplicate hide">이미 사용중인 아이디입니다</div>
					</div>
				</div>
				<div class="small-container pw-container">
					<div class="container-head">비밀번호<span class="essential-mark"> *</span></div>
					<div>
						<input type="password" name="memberPw" class="required" id="memberPw" autocomplete="off" onkeyup="checkValid('pw');">
						<div class="notice pw-notice success-message hide">사용할 수 있는 비밀번호입니다</div>
						<div class="notice pw-notice failure-message-data hide">비밀번호를 입력해주세요</div>
						<div class="notice pw-notice failure-message-length hide">비밀번호는 8글자 이상이어야 합니다</div>
						<div class="notice pw-notice failure-message-type hide">최소 하나의 문자, 숫자 및 특수 문자를 포함해야 합니다</div>
					</div>
				</div>
				<div class="small-container confirm-container">
					<div class="container-head">비밀번호 확인<span class="essential-mark"> *</span></div>
					<div>
						<input type="password" class="required" id="confirmPw" onkeyup="checkPasswordRetype();">
						<div class="notice confirm-notice failure-message-data hide">비밀번호를 확인해주세요</div>
						<div class="notice confirm-notice failure-message-mismatch hide">비밀번호가 일치하지 않습니다</div>
						<div class="notice confirm-notice success-message hide">비밀번호가 일치합니다</div>
					</div>
				</div>
				<div class="small-container name-container">
					<div class="container-head">이름<span class="essential-mark"> *</span></div>
					<div>
						<input type="text" class="required" name="memberName" autocomplete="off">
					</div>
				</div>
				<div class="small-container address-container">
					<div class="container-head">주소</div>
					<div class="address-container-inputBox">
						<input id="zonecode" type="text" placeholder="우편번호" name="zonecode" readonly><button type="button" id="address-search-btn" onclick="searchAddress();">주소검색</button><br>
						<input id="default-address" type="text" placeholder="기본주소" name="defaultAddress" readonly><br>
						<input id="detail-address" type="text" placeholder="나머지 주소(선택 입력 가능)" name="detailAddress">
					</div>
				</div>
				<div class="small-container phone-container">
					<div class="container-head">휴대전화<span class="essential-mark"> *</span></div>
					<div class="phone-flexBox">
						<input type="text" class="required" name="phone" value="010" readonly>
						<div> - </div>
						<input type="number" class="required" name="phone" min="1000" max="9999" autocomplete="off">
						<div> - </div>
						<input type="number" class="required" name="phone" min="1000" max="9999" autocomplete="off">
					</div>
				</div>
				<div class="small-container email-container">
					<div class="container-head">이메일<span class="essential-mark"> *</span></div>
					<div>
						<input id="email" type="text" class="required" name="email" autocomplete="off" lang="en" onkeyup="checkEmailRequired()">@
						<select name="emailDomain" id="email-domain">
							<option value="@naver.com">naver.com</option>
							<!-- <option value="@gmail.com">gmail.com</option> -->
						</select>
						<span id="send-code-btn" class="disabled" onclick="sendEmailCode();">인증요청</span>
						<div style="position: relative;">
							<div id="timer"></div>
							<input type="text" id="email-code" name="emailCode" disabled="false">
							<span id="email-verify-btn" class="disabled" data-emailVerified="false" onclick="verifyEmailCode();">인증</span>
						</div>
					</div>
				</div>
			</div>
			
			<div id="add-info">
				<div class="add-info-header">
					<div>추가정보</div>
				</div>
				<div class="small-container gender-container">
					<div class="container-head">성별</div>
					<input id="male-radio" type="radio" name="gender" value="male">
					<label for="male-radio">
						남자
					</label>
					<input id="female-radio" type="radio" name="gender" value="female">
					<label for="female-radio">
						여자
					</label>
				</div>
				<div class="small-container year-container">
					<div class="container-head">생년월일</div>
					<div>
						<div class="select-box">
							<input id="solar-radio" type="radio" name="calenderType" value="solar">
							<label for="solar-radio">
								양력
							</label>
							<input id="lunar-radio" type="radio" name="calenderType" value="lunar">
							<label for="lunar-radio">
								음력
							</label>
						</div>
						<div class="date-input-box">
							<input name="dateOfBirth" type="number" id="year" min="1900" autocomplete="off">년
							<input name="dateOfBirth" type="number" id="month" min="1" max="12" autocomplete="off">월
							<input name="dateOfBirth" type="number" id="day" min="1" max="31" autocomplete="off">일
						</div>
					</div>
	
				</div>
			</div>
			<div style="width: 550px;margin: 0 auto;">
				<button id="signUp-btn" type="button" onclick="finalSignUp();">가입하기</button>
			</div>
		</form>
</div>


	<script>
		
	</script>
{% endblock %}

{% block extra_scripts %}
<script src="/static/js/member/timer.js"></script>
<script src="/static/js/member/verifyEmail.js"></script>
<script src="/static/js/member/daumMap.js"></script>
<script src="/static/js/member/register.js"></script>
{% endblock %}
