{% extends "common/layout.html" %}

{% block extra_styles %}
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.css">
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.js"></script>
	<link rel="stylesheet" href="/static/css/member/resetPassword.css">
{% endblock %}


{% block content %}
<div id="resetPassword-main">
	<h1>비밀번호 재설정</h1>
	<ol>
		<li>새로운 비밀번호를 설정합니다.</li>
		<li>8글자 이상의 문자, 숫자, 특수 문자 조합</li>
	</ol>
	<div>
		<input id="memberId" type="hidden" name="memberId" value="" />
		<div id="pwConfirm-container-border">
			<div id="pwConfirm-container">
				<div class="pw-container">
					<div class="container-head">새 비밀번호<span class="essential-mark"> *</span></div>
					<div>
						<input type="password" name="memberPw" class="required" id="memberPw" autocomplete="off" onkeyup="checkValid('pw');">
						<div class="notice pw-notice success-message hide">사용할 수 있는 비밀번호입니다</div>
						<div class="notice pw-notice failure-message-data hide">비밀번호를 입력해주세요</div>
						<div class="notice pw-notice failure-message-length hide">비밀번호는 8글자 이상이어야 합니다</div>
						<div class="notice pw-notice failure-message-type hide">최소 하나의 문자, 숫자 및 특수 문자를 포함해야 합니다</div>
					</div>
				</div>
				<div class="confirm-container">
					<div class="container-head">비밀번호 확인<span class="essential-mark"> *</span></div>
					<div>
						<input type="password" class="required" id="confirmPw" autocomplete="off" onkeyup="checkPasswordRetype();">
						<div class="notice confirm-notice failure-message-data hide">비밀번호를 확인해주세요</div>
						<div class="notice confirm-notice failure-message-mismatch hide">비밀번호가 일치하지 않습니다</div>
						<div class="notice confirm-notice success-message hide">비밀번호가 일치합니다</div>
					</div>
				</div>
			</div>
		</div>
	
		<div id="resetPw-btn-div">
			<button id="resetPw-btn" type="button" onclick="resetPassword();">확인</button>
		</div>
	</div>
</div>
{% endblock %}

{% block extra_scripts %}
<script>
// 비밀번호 재설정 할 아이디
const decodedMemberId = "{{decodedMemberId}}";
</script>
<script src="/static/js/member/resetPassword.js"></script>
{% endblock %}