{% extends "common/layout.html" %}

{% block extra_styles %}
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.css">
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.js"></script>
	<link rel="stylesheet" href="/static/css/member/resetPassword.css">
	<style>
		.notice{
	font-size: 11px;
	color: red;
	padding-top: 5px;
}
		
.id-notice.hide, .pw-notice.hide, .confirm-notice.hide{
	display: none;
}

.success-message{
	color: rgb(50, 205, 73);
}
	</style>
{% endblock %}


{% block content %}
<h2>비밀번호 재설정</h2>
<div>
	<input id="memberId" type="hidden" name="memberId" value="" />

	<div class="pw-container">
		<div class="container-head">새 비밀번호<span class="essential-mark"> *</span></div>
		<div>
			<input type="password" name="memberPw" class="required" id="memberPw" autocomplete="off" onkeyup="checkValid('pw');">
			<div class="notice pw-notice success-message hide">사용할 수 있는 비밀번호입니다</div>
			<div class="notice pw-notice failure-message-data hide">비밀번호를 입력해주세요</div>
			<div class="notice pw-notice failure-message-length hide">비밀번호는 8글자 이상이어야 합니다</div>
			<div class="notice pw-notice failure-message-type hide">최소 하나의 문자, 숫자 및 특수 문자를 포함해야 합니다</div>
		</div>
	</div>
	<div class="confirm-container">
		<div class="container-head">비밀번호 확인<span class="essential-mark"> *</span></div>
		<div>
			<input type="password" class="required" id="confirmPw" autocomplete="off" onkeyup="checkPasswordRetype();">
			<div class="notice confirm-notice failure-message-data hide">비밀번호를 확인해주세요</div>
			<div class="notice confirm-notice failure-message-mismatch hide">비밀번호가 일치하지 않습니다</div>
			<div class="notice confirm-notice success-message hide">비밀번호가 일치합니다</div>
		</div>
	</div>

	<button type="button" onclick="resetPassword();">비밀번호 재설정</button>
</div>

<script>
	// 비밀번호 재설정 할 아이디
	const decodedMemberId = "{{decodedMemberId}}";
	const elMemberId = document.querySelector('#memberId');
	const elMemberPw = document.querySelector('#memberPw');


	if(decodedMemberId !== ""){
		document.querySelector('#memberId').value = decodedMemberId;
	}

	// 비밀번호 재설정
	async function resetPassword(){
		let el = document.querySelectorAll('.success-message');

		let count = 0;
		
		el.forEach(item => {
			if(item.classList.contains("hide")){
				count++;
			}
		})

		if(count > 0){
			Swal.fire({
				icon: 'warning',
				title: 'Alert가 실행되었습니다.',
				text: '새 비밀번호 또는 비밀번호 확인 입력창을 확인해주세요',
			});
			return;
		}

		Swal.fire({
			title: '정말로 그렇게 하시겠습니까?',
			text: '다시 되돌릴 수 없습니다. 신중하세요.',
			icon: 'warning',
			
			showCancelButton: true, // cancel버튼 보이기. 기본은 원래 없음
			confirmButtonColor: '#3085d6', // confrim 버튼 색깔 지정
			cancelButtonColor: '#d33', // cancel 버튼 색깔 지정
			confirmButtonText: '승인', // confirm 버튼 텍스트 지정
			cancelButtonText: '취소', // cancel 버튼 텍스트 지정
			
			reverseButtons: true, // 버튼 순서 거꾸로
			
		})
		.then(result => {
			// 만약 Promise리턴을 받으면,
			if (result.isConfirmed) { // 만약 모달창에서 confirm 버튼을 눌렀다면
				Swal.fire({
						title: '승인이 완료되었습니다.',
						text: '비밀번호 재설정 진행중',
						icon: 'success',
						confirmButtonText: '확인'
				})
				.then(async (result) => {
					// 확인 버튼 클릭 후 동작
					if (result.isConfirmed) {
						// 비밀번호 재설정 api 실행
						const response = await fetch('/member/api/reset-password', {
							method: 'POST',
							headers: {
								'Content-Type': 'application/json',
							},
							body: JSON.stringify({ memberId : elMemberId.value, memberPw : elMemberPw.value })
						});

						const result = await response.json();

						if(result.success){
							Swal.fire({
								icon: 'success',
								title: 'Alert가 실행되었습니다.',
								text: result.message,
							}).then((result)=>{
								if(result.isConfirmed){
									// 성공 시 login페이지 이동
									location.href = `/member/login`;
								}
							});
							return;
						}else{
							Swal.fire({
								icon: 'warning',
								title: 'Alert가 실행되었습니다.',
								text: result.message,
							});
							return;
						}

					}
				});
			}
		});

		
	}


</script>
{% endblock %}

{% block extra_scripts %}
<script>
		// 성공 메시지 정보 가져오기
		let pwSuccessMessage = document.querySelector('.pw-notice.success-message');
		// 실패 메시지 정보 가져오기 (글자수 제한)
		let pwFailureMessageLength = document.querySelector('.pw-notice.failure-message-length');
		// 실패 메시지2 정보 가져오기 (영어 또는 숫자)
		let pwFailureMessageType = document.querySelector('.pw-notice.failure-message-type');
		// 실패 메시지3 정보 가져오기 (필수입력)
		let pwFailureMessageData = document.querySelector('.pw-notice.failure-message-data');

		// 길이 체크
		function checkLength(value) {
			return value.length >= 8
		}

		// 값 공란 유무 확인
		function checkEmpty (value) {
			return value !== '';
		}

		// 정규표현식 체크
		function checkRegex(pw) {
			return /^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,}$/.test(pw);
		}

		// 비밀번호 확인
		function isMatch (password1, password2) {
			return password1 === password2;
		}

		// pw 유효성 체크 이벤트
		function checkValid(){
			// 아이디, 비밀번호 입력창 정보 가져오기
			let valMemberId = document.querySelector('#memberId').value;
			let valMemberPw = document.querySelector('#memberPw').value;

			if(!checkEmpty(valMemberPw)){
				pwSuccessMessage.classList.add('hide');
				pwFailureMessageLength.classList.add('hide');
				pwFailureMessageType.classList.add('hide');
				pwFailureMessageData.classList.remove('hide');
			}else if(!checkLength(valMemberPw)){
				pwSuccessMessage.classList.add('hide');
				pwFailureMessageLength.classList.remove('hide');
				pwFailureMessageType.classList.add('hide');
				pwFailureMessageData.classList.add('hide');
			}else if(!checkRegex(valMemberPw)){
				pwSuccessMessage.classList.add('hide');
				pwFailureMessageLength.classList.add('hide');
				pwFailureMessageType.classList.remove('hide');
				pwFailureMessageData.classList.add('hide');
			}else{
				pwSuccessMessage.classList.remove('hide');
				pwFailureMessageLength.classList.add('hide');
				pwFailureMessageType.classList.add('hide');
				pwFailureMessageData.classList.add('hide');
			}
		}
		
		// 비밀번호 확인 정보 가져오기
		let elEmptyMessage = document.querySelector('.confirm-notice.failure-message-data');
		let elMismatchMessage = document.querySelector('.confirm-notice.failure-message-mismatch');
		let elMatchSuccessMessage = document.querySelector('.confirm-notice.success-message');

		// pw 확인 
		function checkPasswordRetype(){
			let elInputPasswordRetype = document.querySelector('#confirmPw').value;
			let valMemberPw = document.querySelector('#memberPw').value;

			if(elInputPasswordRetype === ''){
				elEmptyMessage.classList.remove('hide');
				elMismatchMessage.classList.add('hide');
				elMatchSuccessMessage.classList.add('hide');
				return;
			}

			if(!elInputPasswordRetype === ''){
				elEmptyMessage.classList.remove('hide');
				elMismatchMessage.classList.add('hide');
				elMatchSuccessMessage.classList.add('hide');
			}else if(!isMatch(valMemberPw, elInputPasswordRetype)){
				elEmptyMessage.classList.add('hide');
				elMismatchMessage.classList.remove('hide');
				elMatchSuccessMessage.classList.add('hide');
			}else{
				elEmptyMessage.classList.add('hide');
				elMismatchMessage.classList.add('hide');
				elMatchSuccessMessage.classList.remove('hide');
			}
		}


</script>
{% endblock %}