<header>
    <div class="header-left">
        <a href="/">
            <img id="header-logo" src="../../static/img/main-logo.png" alt="main logo"/>
        </a>
        <nav class="nav-menu">
            <a href="/recipe/list">레시피</a>
            <a href="/store/all">스토어</a>
            <a href="/cooking/search">쿠킹클래스</a>
        </nav>
    </div>
    <!-- 로그인 상태에 따른 영역 표시 -->
    <div class="header-right">
        <div class="header-login-area">
            {% if session.user %}
            <div id="profile-dropdown-container">
                <div class="header-login-div">
                    <img id="header-logged-in" src="{{ session.user.filePath }}" alt="login">
                </div>
                <div id="dropdown-point">
                    <div id="dropdown-icon">
                        <i class="fa-solid fa-caret-down"></i>
                    </div>
                    <div class="header-my-expand">
                        <p onclick="location.href='/member/detail';">내 정보</p>
                        <p onclick="location.href='/store/cart';">장바구니</p>
                        <p onclick="location.href ='/recipe/myList';">나의 레시피</p>
                        <p onclick="location.href='/store/order/history';">구매내역</p>
                        <p>예약내역</p>
                        <p onclick="location.href='/member/logout';">로그아웃</p>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="header-login-div" id="logged-out-div">
                <img id="header-logged-out" src="../../static/img/login.png" alt="login">
            </div>
            {% endif %}
            <img id="header-write-recipe" src="../../static/img/write-recipe.png" alt="write recipe">
        </div>
        
    </div>
</header>