<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>식탁의비밀</title>
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/layout.css">
    <link rel="stylesheet" href="/static/css/common/header.css">
    <link rel="stylesheet" href="/static/css/common/footer.css">
    <script src="https://kit.fontawesome.com/7d4169cb69.js" crossorigin="anonymous"></script>
    <!-- 각 페이지의 css 작성 위치 -->
    {% block extra_styles %}{% endblock %}
    
</head>
<body>
    {% include "common/header.html" %}
    <main>
        {% block content %}{% endblock %}
    </main>
    {% include "common/footer.html" %}

    <!-- 각 페이지의 script 작성 위치 -->
    <script src="/static/js/common/header.js"></script>
    {% block extra_scripts %}{% endblock %}
</body>
</html>