{% extends "common/layout.html" %}

{% block extra_styles %}
    <link rel="stylesheet" href="/static/css/recipe/recipeDetail.css">
{% endblock %}

{% block content %}
    <div class="thumbnail-box">
        <img src="{{ detail.thumbnail }}" alt="{{ detail.title }}">
    </div>
    <div class="information-box">
        <h3>작성자 : {{ detail.member_id }}</h3>
        <h3>제목 : {{ detail.title }}</h3>
        <h3>인트로 : {{ detail.intro }}</h3>
        <h3>인분 : {{ detail.serving }}</h3>
        <h3>난이도 : {{ detail.difficulty }}</h3>
    </div>
    <div class="ingredients-box">
        <h3>재료 : {{ detail.ingredients }}</h3>
    </div>
    <div class="steps-box">
        <h3>조리 순서 :</h3>
        <ul>
            {% for step in detail.steps %}
                <li>
                    <h4>Step {{ step.step }}</h4>
                    <p>{{ step.description }}</p>
                    {% if step.recipe_image_path %}
                    <img src="{{ step.recipe_image_path }}" alt="Step {{ step.step }} image">
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}

{% block extra_scripts %}
    <script src="/static/js/recipe/recipeDetail.js"></script>
{% endblock %}
